# <center> Pandas Movies Data Analysis [17 exercises with solution]</center>

**Problems List [learned new, see again]-**
- *Problem 6: Second Solution*
- Problem 11
- *Problem 15*

In [2]:
# Importing libraries:

import numpy as np
import pandas as pd

In [3]:
# Importing file:

movies_filepath = 'movies_metadata.csv'
movies_mdata = pd.read_csv(movies_filepath)

## 1. Write a Python Pandas program to get the columns of the DataFrame (movies_metadata.csv file).

In [4]:
movies_mdata.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

## 2. Write a Pandas program to get the information of the DataFrame (movies_metadata.csv file)including data types and memory usage.

In [5]:
movies_mdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  50 non-null     bool
 1   belongs_to_collection  10 non-null     object
 2   budget                 50 non-null     int64
 3   genres                 50 non-null     object
 4   homepage               5 non-null      object
 5   id                     50 non-null     int64
 6   imdb_id                50 non-null     object
 7   original_language      50 non-null     object
 8   original_title         50 non-null     object
 9   overview               49 non-null     object
 10  popularity             50 non-null     float64
 11  poster_path            50 non-null     object
 12  production_companies   50 non-null     object
 13  production_countries   50 non-null     object
 14  release_date           50 non-null     object
 15  revenue                50 non-null     int64
 16  runtime                50 non-null     float64
 17  spoken_languages       50 non-null     object
 18  status                 50 non-null     object
 19  tagline                41 non-null     object
 20  title                  50 non-null     object
 21  video                  50 non-null     bool
 22  vote_average           50 non-null     float64
 23  vote_count             50 non-null     int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 8.8+ KB

## 3. Write a Pandas program to get the details of the thrid movie of the DataFrame (movies_metadata.csv file).

In [6]:
print('Details of third movie:\n')
print(movies_mdata.iloc[2])

Details of third movie:

adult                                                                False
belongs_to_collection    {'id': 119050, 'name': 'Grumpy Old Men Collect...
budget                                                                   0
genres                   [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
homepage                                                               NaN
id                                                                   15602
imdb_id                                                          tt0113228
original_language                                                       en
original_title                                            Grumpier Old Men
overview                 A family wedding reignites the ancient feud be...
popularity                                                         11.7129
poster_path                               /6ksm1sjKMFLbO7UY2i6G1ju9SML.jpg
production_companies     [{'name': 'Warner Bros.', 'id': 6194}, {'name'...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    1995-12-22
revenue                                                                  0
runtime                                                              101.0
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  Still Yelling. Still Fighting. Still Ready for...
title                                                     Grumpier Old Men
video                                                                False
vote_average                                                           6.5
vote_count                                                              92
Name: 2, dtype: object

## 4. Write a Pandas program to count the number of rows and columns of the DataFrame (movies_metadata.csv file).

In [7]:
print('Number of rows in the dataframe: {}'.format(movies_mdata.shape[0]))
print('Number of columns in the dataframe: {}'.format(movies_mdata.shape[1]))

Number of rows in the dataframe: 50
Number of columns in the dataframe: 24

## 5. Write a Pandas program to get the details of the columns title and genres of the DataFrame.

In [8]:
movies_mdata[['title', 'genres']]

,title,genres
0,Toy Story,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '..."
1,Jumanji,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '..."
2,Grumpier Old Men,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ..."
3,Waiting to Exhale,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
4,Father of the Bride Part II,"[{'id': 35, 'name': 'Comedy'}]"
5,Heat,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
6,Sabrina,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '..."
7,Tom and Huck,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
8,Sudden Death,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
9,GoldenEye,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '..."
10,The American President,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
11,Dracula: Dead and Loving It,"[{'id': 35, 'name': 'Comedy'}, {'id': 27, 'nam..."
12,Balto,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '..."
13,Nixon,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na..."
14,Cutthroat Island,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
15,Casino,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
16,Sense and Sensibility,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
17,Four Rooms,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
18,Ace Ventura: When Nature Calls,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name..."
19,Money Train,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam..."
20,Get Shorty,"[{'id': 35, 'name': 'Comedy'}, {'id': 53, 'nam..."
21,Copycat,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name..."
22,Assassins,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam..."
23,Powder,"[{'id': 18, 'name': 'Drama'}, {'id': 14, 'name..."
24,Leaving Las Vegas,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
25,Othello,"[{'id': 18, 'name': 'Drama'}]"
26,Now and Then,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
27,Persuasion,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
28,The City of Lost Children,"[{'id': 14, 'name': 'Fantasy'}, {'id': 878, 'n..."
29,Shanghai Triad,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
30,Dangerous Minds,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."
31,Twelve Monkeys,"[{'id': 878, 'name': 'Science Fiction'}, {'id'..."
32,Wings of Courage,"[{'id': 10749, 'name': 'Romance'}, {'id': 12, ..."
33,Babe,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na..."
34,Carrington,"[{'id': 36, 'name': 'History'}, {'id': 18, 'na..."
35,Dead Man Walking,"[{'id': 18, 'name': 'Drama'}]"
36,Across the Sea of Time,"[{'id': 12, 'name': 'Adventure'}, {'id': 36, '..."
37,It Takes Two,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '..."
38,Clueless,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam..."
39,"Cry, the Beloved Country","[{'id': 18, 'name': 'Drama'}]"
40,Richard III,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n..."
41,Dead Presidents,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam..."
42,Restoration,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
43,Mortal Kombat,"[{'id': 28, 'name': 'Action'}, {'id': 14, 'nam..."
44,To Die For,"[{'id': 14, 'name': 'Fantasy'}, {'id': 18, 'na..."
45,How To Make An American Quilt,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
46,Se7en,"[{'id': 80, 'name': 'Crime'}, {'id': 9648, 'na..."
47,Pocahontas,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '..."
48,When Night Is Falling,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n..."
49,The Usual Suspects,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name..."

## 6. Write a Pandas program to get the details of the movie with title 'Grumpier Old Men'.

## 7. Write a Pandas program to get the details of  fifth movie of the DataFrame.

## 8. Write a Pandas program to create a smaller dataframe with a subset of all features.

## 9. Write a Pandas program to display the first 10 rows of the DataFrame.

## 10. Write a Pandas program to sort the DataFrame based on release_date.

## 11. Write a Pandas program to access those movies, released after 1995-01-01.

## 12. Write a Pandas program to sort movies on runtime in descending order.

## 13. Write a Pandas program to get those movies whose revenue more than 2 million and spent less than 1 million.

## 14. Write a Pandas program to get the longest runtime and shortest runtime.

## 15. Write a Pandas program to compute the calculate the number of votes garnered by the 70% movie.

## 16. Write a Pandas program to display the movies (title, runtime) longer than 30 minutes and shorter than 360 minutes.

## 17. Write a Pandas program to display the movies (title, number of votes) that received specified number of votes.

#### Problem's Source: [https://www.w3resource.com/python-exercises/pandas/movies/index.php](https://www.w3resource.com/python-exercises/pandas/movies/index.php)