# <center>Pandas Practice Set-1 (65 Exercises)</center>

#### Data Source: https://www.kaggle.com/shivam2503/diamonds

This classic dataset contains the prices and other attributes of almost 54,000 diamonds. It's a great dataset for beginners learning to work with data analysis and visualization.

In [3]:
# Importing Libraries:

import numpy as np
import pandas as pd

In [2]:
# Access the file:

diamonds = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/diamonds.csv')
print(diamonds.head())

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [6]:
# As I have downloaded the dataset form kaggle's provided link above, I will use the downloaded dataset:

diamonds_data = pd.read_csv('diamonds.csv', index_col = 0)
diamonds_data.head()

   carat      cut color clarity  depth  table  price     x     y     z
1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

#### Diamond Data Column's Description:

![Diamond Data Columns Descriptions](https://i.imgur.com/X0n6uib.png)

## 65 Exercises with Solutions:

### 1. Write a Pandas program to read a csv file from a specified source and print the first 5 rows.

#### Source: [https://www.w3resource.com/python-exercises/pandas/practice-set1/index.php](https://www.w3resource.com/python-exercises/pandas/practice-set1/index.php)